@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
text-align: justify;

}

body{
   background-image:linear-gradient(to right,#1B8EF2,#1BA0F2,#38D0F2);

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(201, 171, 4);
    width: 600px;
    padding: 10px;
    margin: auto;


}




h1{
    color: rgb(201, 171, 4);
    text-shadow: 1px 1px 2px rgba(43, 40, 26, 0.548) ;
    text-align: center;

}

h2{
    color: #F2A516;

}
